/* ######################### */

/* Style the heatmap */

/* ######################## */

.lowest {
    background-color:#222;
}

.low {
    background-color:#555;
}

.medium {
    background-color:#999;
}

.high {
    background-color:#ccc;
}

.highest {
    background-color: #eee;
}

.tip-top {
    background-color: #fff;
}
/* ############## */

/* Set up grid */

/* ############### */
body {
    display:grid;
    background-color:#000;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}

.col-1-2 {
    grid-column: 1 / span 1;
}

.col-1-3 {
    grid-column: 1 / span 2;
    width:100%;
}

.col-1-4 {
    grid-column: 1 / span 3;
}

.col-2-3 {
    grid-column: 2 / span 1;
}

.col-2-4 {
    grid-column: 2 / span 2;
}

.col-3-4 {
    grid-column: 3 / span 1;
}
/* ################## */

/*  the header */

/* ################# */

header {
 padding:0px;
 margin:0;
}

header ul {
    margin:10px;
    display:flex;
    justify-content:space-around;
    
}

header ul li{
    display:inline-block;
    padding:5px 10px;
}


/* #################### 
#
# Main content 
#
 ##################### */

 
#main-article {
    height: 250px;
    padding:5px;
    position: relative;
    margin:10px;
}

#main-article .tip-top {
    position:absolute;
    top:20px;
    left: 150px;
    width:65%;
    height:100px; 
}

#main-article .main-desc {
    position:absolute;
    top:160px;
    width:90%;
    left:30px;
    height: 40px;
}

#main-article .photo {
    position:absolute;
    top:20px;
    left: 20px;
    height:100px;
    width:100px;

}

.photo {
    transform:rotate(-25deg);
    transition: all 0.3s ease;
}

.photo:hover {
    transform:rotate(0deg)
}

.secondary-article {
    height:100px;
    margin:10px;
    position: relative;
}

.secondary-article .photo {
    position:absolute;
    top:10px;
    left: 10px;
    height:50px;
    width:50px;
}

.secondary-article .desc {
    position: absolute;
    top: 25%;
    left:25%;
    width:60%;
    height:25%;
}