/* ######################### */

/* Style the heatmap */

/* ######################## */

.lowest {
    background-color:#222;
}

.low {
    background-color:#555;
    box-shadow: 1px 1px 3px 1px #333;
}

.medium {
    background-color:#999;
    box-shadow: 1px 1px 3px 1px #555;
}

.high {
    background-color:#ccc;
    box-shadow: 1px 1px 3px 1px #555;
}

.highest {
    background-color: #eee;
    box-shadow: 1px 1px 3px 1px #111;
}

.tip-top {
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #000;
}
/* ############## */

/* Set up grid */

/* ############### */
body {
    display:grid;
    background-color:#000;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    grid-auto-rows: auto;
}

.col-1-2 {
    grid-column: 1 / span 1;
}

.col-1-3 {
    grid-column: 1 / span 2;
    width:100%;
}

.col-1-4 {
    grid-column: 1 / span 3;
}

.col-2-3 {
    grid-column: 2 / span 1;
}

.col-2-4 {
    grid-column: 2 / span 2;
}

.col-3-4 {
    grid-column: 3 / span 1;
}
/* ################## */

/*  the header */

/* ################# */

header {
 padding:0px;
 margin:0;
}

header ul {
    margin:10px;
    display:flex;
    justify-content:space-around;
    
}

header ul li{
    display:inline-block;
    padding:5px 10px;
}


/* #################### 
#
# Main content 
#
 ##################### */

 
#main-article {
    height: 250px;
    padding:5px;
    position: relative;
    margin:10px;
}

#main-article .tip-top {
    position:absolute;
    top:20px;
    left: 150px;
    width:65%;
    height:100px; 
    font-size:40px;
    text-align:center;
    padding-top: 50px;
    padding-bottom:0;
}

#main-article .main-desc {
    position:absolute;
    top:160px;
    width:90%;
    left:30px;
    height: 40px;
}

#main-article .photo {
    position:absolute;
    top:20px;
    left: 20px;
    height:100px;
    width:100px;

}

.photo {
    transform:rotate(-25deg);
    transition: all 0.3s ease;
}

.photo:hover {
    transform:rotate(0deg)
}

.secondary-article {
    height:100px;
    margin:10px;
    position: relative;
}

.secondary-article .photo {
    position:absolute;
    top:10px;
    left: 10px;
    height:50px;
    width:50px;
}

.secondary-article .desc {
    position: absolute;
    top: 25%;
    left:25%;
    width:60%;
    height:25%;
    text-align:center;
    font-size: 20px;
}

/*########################

See all button 

########################*/

#see-all {
    width:30%;
    margin:0 auto;
    text-align:center;
}

#see-all div {
    padding:5px;
}

/*###############

Latest posts 

###############*/

.latest {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}
.latest-posts {
    height:200px;
}

/* ###############

Email newsletter

############### */

#newsletter {
    margin:30px;
    width:70%;
    position:relative;
}

#circle {
    position:absolute;
    height:90px;
    width:90px;
    left:40%;
    top:-5%;
    border-radius: 50%;
    background-color:#eee
}

#newsletter .input {
    position:absolute;
    height:35px;
    width:70%;
    top:70%;
    left: 15%;
    text-align: right;
    padding-right:10px;
    font-size: 20px;
   
}

#filler {
    position:absolute;
    height:30%;
    width: 70%;
    top:25%;
    left:15%;
    font-size: 20px;
    font-weight: bold;
}

/* ##############

Font styling

############### */
* {
    text-align: center;
}
.yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.playfair {
    font-family:'Playfair Display', serif;
}